[submodule "vendor/antigen"]
	path = vendor/antigen
	url = git@github.com:fernandoacorreia/antigen.git
[submodule "vendor/jellybeans.vim"]
	path = vendor/jellybeans.vim
	url = git@github.com:fernandoacorreia/jellybeans.vim.git
[submodule "vendor/vim-auto-save"]
	path = vendor/vim-auto-save
	url = git@github.com:fernandoacorreia/vim-auto-save.git
[submodule "vendor/vim-numbertoggle"]
	path = vendor/vim-numbertoggle
	url = git@github.com:fernandoacorreia/vim-numbertoggle.git
